node_modules/
dist/
*.tsbuildinfo
.env
.env.local
.DS_Store
results/
.work/

.next/
.turbo/
.vercel/
.vercel
.env*

packages/cli/data/
packages/cli/README.md
packages/cli/LICENSE.md
apps/web/lib/rules.generated.json
